A_liste appro.xls
C_liste assemblages.xls
D_liste expédition.xls
E_liste boulonnerie.xls
optimized_cutting_plan1.xlsx
settings.xlsx
__pycache__/co.cpython-312.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
optimized_cutting_plan.xlsx
cutting_plan.png
Cutting-Optimizer-Pro.spec
CuttingOptimizerPro.zip
Cutting-Optimizer-Pro.spec
cutting_plan.png
build.7z
CuttingOptimizerPro/Cutting-Optimizer-Pro.exe
.~lock.B_liste débitsdd.xlsx#
.~lock.optimized_cutting_plan.xlsx#
.~lock.list.xlsx#
B_liste débits.xls
A_liste approdd.xlsx
emergency_log.txt
installer/CuttingOptimizerPro_Setup.exe
Cutting-Optimizer-Pro.spec
Cutting-Optimizer-Pro.spec
